/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */
/* Start of changed CSS */
/*  */
:root {
    --primary: #f2f2f2;
    --secondary: #000;
    --tertiary: #000;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary);
    background-image: url("/assets/Effenaar_achtergrond.png");
    /* background-size: cover; */
    color: var(--tertiary);
}

.navigation {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_link {
    text-decoration: none;
    color: var(--tertiary);
}

.nav_link:hover {
    color: red;
}

.navigation .current {
    color: red;
}

hr {
    margin: 30px 0;
    border-top: 0.5px solid var(--secondary);
    border-bottom: 0.5px solid var(--secondary);
}

.bestellingen {
    padding: 10px 0
}

table {
    margin: 30px 0;
}

.bestelling_table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bestelling_row {
    display: flex;
    flex-direction: row;
}

.bestelling_header {
    font-weight: bold;
    border-bottom: 3px solid var(--secondary);
    padding: 5px;
}

.bestelling_cell {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
    padding: 10px;
    text-align: center;
}

.status_bewerken {
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--primary);
    cursor: pointer;
    padding: 4px;
    color: var(--secondary);
}

.status_bewerken:hover {
    color: red;
}

.ontkoppel_brillen {
    display: flex;
    justify-content: center;
}

button {
    text-decoration: none;
    background-color: var(--primary);
    cursor: pointer;
    padding: 4px;
    color: var(--secondary);
    border: none;
}

button:hover {
    color: red;
}

input {
    margin-top: 10px;
}